* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#content {
	position: relative;
}

#content img, #content video {
	position: absolute;
	top: 0;
	left: 0;
	width: 800px;
	height: auto;
}
